{% extends 'layouts/base.html' %}

{% block content %}
<h1>about</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident asperiores magnam laborum ducimus? Suscipit quod non beatae optio facere illum recusandae veritatis dolorem alias, rem, expedita labore dolore, magnam repellat debitis. Vero libero, quam enim delectus animi ullam mollitia illum sed eos adipisci impedit ut dolor asperiores error magnam voluptates, deserunt eaque quisquam cumque nesciunt distinctio fugiat quo, culpa cum! Hic nam officiis ex assumenda incidunt praesentium provident cum ad adipisci libero, laudantium odio recusandae corporis ratione iusto. Enim nobis quasi aliquid sed magnam optio sint voluptates quod distinctio id minus perferendis quia dicta eum voluptatem odit in, animi perspiciatis?</p>


<p>Website created by {{ username }}</p>
{% endblock %}